.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  padding: 20px 40px;
  justify-content: center;
}



.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  gap: 8px; /* uniformise les espaces */
}

.product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.product-top-icons {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  z-index: 2;
}

.product-item img {
  height: 125px;
  object-fit: contain;
  margin-bottom: 10px;
  width: 100%;
}

.product-item h3 {
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.3;
}

.product-item .price {
  font-size: 1rem;
  font-weight: bold;
  color: #232524;
  margin: 0;
}

.btn.add-to-cart {
  margin-top: auto;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.wishlist-icon {
  color: #888585;
  transition: 0.2s;
}

.wishlist-icon.active {
  color: rgb(182, 22, 22);
}
